html,body {

    background-image: url('ContentJitteryCats-size_restricted.gif');  



}



.seller {

    font-family: monospace;

    color: #FFFFFF;



    cursor: text;

}



.holder {

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

}



.center {

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}



.textiboi {

	text-align: center;

	color: #FFFFFF;

	font-family: monospace;

}



.textiboi:hover {

	color: #FF0000;

}

	



.header {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.header a {

    text-decoration: none;

}



.hoverr:hover a 

{

	color: #FFFFFF;

}



.header:hover {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.container:hover .seller {

    color: #FFFFFF;

}



.container:hover a {

    color: #FFFFFF;

}



.a {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.header:hover a {

    text-align: center;

    color: #FFFFFF;

    font-family: monospace;

}



.icon {

    color: #444;

}



.icon i {

    font-size: 80px;

}



.container {

    text-align: center;

    margin: 5px 20px;



    float: left;

}



a {

    color: #FFFFFF;

}



.container:hover .icon {

    color: var(--icon-color);

    font-size: 20px;

}



.container:hover .seller {

    color: white;

}



.container:hover a {

    color: white;

}

